*,
body{
    text-align: center;
    margin: 0;
    padding: 0;
}

button{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 110px;
    background: #F4F4F4;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.app{
    width: 550px;
    display: block;
    margin: 100px auto;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.top-container{
    margin: 0;
    padding: 40px;
    background: #6943FF;
    border-radius: 10px 10px 0px 0px;
}

.top-container h2{
    color: #F4F4F4;
    font-size: 2rem;
    margin: 20px 0px;
}

.top-container input{
    color: #F4F4F4;
    background: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 10px;
    font-size: 2rem;
    width: 110px;
    height: 60px;
    margin: 10px auto;
}

.bottom-container{
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.units{
    width: 80%;
    background: white;
    padding: 15px 20px 15px 20px;
}

